<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iyin.sign.system.mapper.SignSysSignConfigMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.iyin.sign.system.entity.SignSysSignConfig">
        <id column="id" property="id" />
        <result column="pre_sign" property="preSign" />
        <result column="verification_code" property="verificationCode" />
        <result column="qr_code" property="qrCode" />
        <result column="gmt_verification" property="gmtVerification" />
        <result column="gmt_create" property="gmtCreate" />
        <result column="gmt_modified" property="gmtModified" />
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        id, pre_sign, verification_code, qr_code, gmt_verification, gmt_create, gmt_modified
    </sql>

    <!-- 获取签章设置 -->
    <select id="getSignConfig" resultMap="BaseResultMap">
        select <include refid="Base_Column_List"/>  FROM  sign_sys_sign_config s limit 1
    </select>

</mapper>
